html {
    font-family: arial, helvetica, sans-serif;
    text-align: center;
    background-color: yellow;
    padding:10px;
  }
  #pjt{
    color: yellow;
  }
  
  body {
    background-color: blue;
    padding:0;
    margin:0;
    color: white
  }
  
  /*Navigation*/
  #navbar{
    position:fixed;
    right:0;
    width:50%;
    overflow:hidden;
  }
  
  #navbar ul{
    list-style:none;
    height:2em;
    margin:0;
  }
  
  #navbar li{
    float:left;
    display:inline;
    text-align:right;
    padding:0.5em;
    
  }
  
  a{
    color: white;
    text-decoration:none;
    font-size:1.2em;
  }
  a:hover li{
    text-decoration: underline;
    color:blue;
    font-weight:bold;
  }
  
  /*Content*/
  #welcome-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background: blueviolet;
    height: 100vh;
    color: yellow;
    font-size: 30px
  }
  
  #projects{
    margin-top: 25px;
    padding: 15px;
    text-align: center;
  }
  .project{
    display: inline-block;
    overflow: hidden;
    background-color: orangered;
    border: 3px solid #3ffa87;
    height: 250px;
    width: auto;
    margin: 1em;
    padding-bottom: 1em;
    border-radius: 15%;
  }
  .project img{
    max-height: 200px;
    width: auto;
  }
  
  /*Social Media*/
  .fa {
    padding: 10px;
    font-size: 1em;
    width: 150px;;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: 15px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-free-code-camp {
      padding: 10px;
      font-size: 1em;
      width: 150px;;
      height: auto;
      text-align: center;
      text-decoration: none;
      margin: 15px 2px;
      background-color: green;
    }
  .fa-free-code-camp:hover {
      opacity: 0.7;
    }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-github{
    background: black;
    color: white;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  footer { 
    margin: 10px;
  }
  
  /*Media Queries*/
  @media(max-width:600px){
    #navbar
    #navbar ul
    #navbar 
    #welcome_section
    #projects_section
    .project
    .project img
    {
      float:none;
      text-align:center;
      width:100%;
    }
  }
    
  